# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Variables de entorno y credenciales
.env
.env.*
*.pem
*.key

# Databricks
.databricks/

# Archivos temporales
*.tmp
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
